body {
  font-family: 'Open Sans', serif;
  color: #999;
  background-color: white;
}
.headerr{
  background-image: url("0.jpg");
  background-size: cover;
  height: 240px;
}
.navbar-inverse{
  background-color: #3083F2;
  border-color:#3083F2 ;
}
.navbar-inverse .navbar-nav>li>a{
  color: #F6E523;
  font-size: 16px;
}

.well{
  background-color: #3083F2;
  color: white;
}

.well h1{
  color: #F6E523;
  font-size: 16px;
  text-align: center;
}

.knight{
  background-image: url("frontpage.jpg");
  height: 400px;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
}

.row ul{
  list-style: none;

}

.row p{
  text-align: center;
}
.row ul li a{
  text-align: center;
  color: white;
}
